.c-list-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; }
  .c-list-row:not(:last-child) {
    padding-bottom: 5px;
    border-bottom: 1px solid #e3e3e3; }
  .c-list-row__name {
    flex: 1; }
    .c-list-row__name.empty-list {
      color: orange; }
    .c-list-row__name.insufficient-list {
      color: red; }
