@import 'helpers/variables.scss';

.c-list-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    &:not(:last-child) {
        padding-bottom: 5px;
        border-bottom: 1px solid $border-color;
    }

    &__name {
        flex: 1;

        &.empty-list {
            color: orange;
        }
        &.insufficient-list {
            color: red;
        }
    }
}
