@import 'helpers/variables.scss';

.c-table {
    margin: 30px;
    color: $table-text-color;
    border: 1px solid $border-color;
    border-radius: 3px;
    background-color: #fff;

    &__header {
        .c-table__cell {
            font-weight: 600;
        }
    }

    &__row {
        display: flex;

        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }

        &:nth-child(even) {
            background-color: $main-bg-color;
        }
    }

    &__cell {
        padding: 5px;
        font: {
            size: 12px;
            weight: 300;
        }

        &:not(:last-child) {
            border-right: 1px solid $border-color;
        }

        &--pool {
            width: 7%;
        }
        &--offer {
            width: 19%;
        }
        &--blog-lists {
            width: 25%;
        }
        &--real-lists {
            width: 25%;
        }
        &--b-amount,
        &--r-amount {
            width: 6%;
        }
        &--w-count,
        &--ip-count {
            width: 5%;
        }
    }
}
